body{
    background-color:aliceblue;
}
.wrapper > section�{
    background: #2be0   b4;
    padding:1em;
}
.wrapper{
   display: grid;
   grid-template-columns: 1fr 2fr ;
   grid-column-gap: 650px;
	grid-template-areas: "content1 content2";

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width: 100%;
 } 
 li{
    float: left;
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
 }
 
 li a:hover {
    background-color: #111
 }
 
 .active {
    background-color: #4CAF50
 }
 .super_meat{
    border-image-width: 50%;
 }
